@model OrderItem

@{
    ViewData["Title"] = "Order Item - Create";
}
<div class="bg-light rounded p-5">
    <h1>@ViewData["Title"]</h1>

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">@nameof(Order.OrderNumber)</label>
            <select asp-for="OrderID" class="form-control" asp-items="ViewBag.OrderID"></select>
            <span asp-validation-for="OrderID" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">@nameof(RouteInstance.RouteInstanceName)</label>
            <select asp-for="RouteInstanceID" class="form-control" asp-items="ViewBag.RouteInstanceID"></select>
            <span asp-validation-for="RouteInstanceID" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label class="form-label">@nameof(OrderItem.Amount)</label>
            <input class="form-control" asp-for="Amount">
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">@nameof(OrderItem.Price)</label>
            <input class="form-control" asp-for="Price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/validations/FileContentValidation.js"></script>
}