@*@model IList<CarouselRouteViewModel>*@
@model RouteVehicleTicketViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <select class="form-select" aria-label="Default select example">
                @{
                    if (Model != null && Model.Vehicles != null && Model.Vehicles.Count != 0)
                    {
                        for (int i = 1; i < Model.Vehicles.Count; i++)
                        {
                            if(i == 1)
                            {
                                <option selected>@Model.Vehicles[i].VehicleType</option>
                            }
                            else
                            {
                                <option>@Model.Vehicles[i].VehicleType</option>
                            }
                        }
                    }
                }
                <option selected>Autobusy</option>
                <option value="1">Vlaky</option>
                <option value="2">Autobusy a vlaky</option>
                <option value="3">Letadla</option>
            </select>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label">Datum</label>
                <input class="form-control" placeholder="dd.mm.yyyy">
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col"> idk</div>
                <div class="col"> idk2</div>
            </div>
            <label class="form-label">Čas</label>
            <input class="form-control" placeholder="hh:mm">
        </div>
    </div>
</div>

<div>
    <label class="form-label">Čas</label>
    <input class="form-control" placeholder="hh:mm">
</div>

@*
@{
    if (Model != null && Model.Products != null && Model.Procucts.Count > 0)
    {
        
    }
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
            @for(int i = 0; i < Model.Carousels.Count; i++)
            {
                <div class="carousel-item active">
                    <img src="@Model.Carousels[i].ImageSrc" class="d-block w-100" alt="First Slide">
                </div>
            }
    </div>
</div>

@{
    if (Model != null && Model.Products != null && Model.Procucts.Count > 0)
    {
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    @for (int i = 0; i < Model.Products.Count; i++)
                    {
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="@Model.Products[i].Name" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">@Model.Products[i].Name</h5>
                                        <!-- Product reviews-->
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                        </div>
                                        <!-- Product price-->
                                        @Model.Products[i].Price
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
        </section>
    }
}

@section Styles{
    <link rel="stylesheet" href="~/css/shop_home.css" asp-append-version="true" />
}
*@